<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/login/login.css}">
	<title>ログイン</title>
</head>
<body>
	<h1>ログイン</h1>
	<form method="post" action="login">
	ID：<input type="text" name="text1"/>
	</form>
	<form method="post" action="/login">
	パスワード:<input type="text" name="text2"/>
	</form>

	<input type="submit" value="ログイン"/>
	
</body>
</html>